fastapi[standard]         # لبناء API
uvicorn                   # لتشغيل السيرفر

sqlalchemy                # للتعامل مع قاعدة البيانات
alembic                   # لإدارة تعديلات الجداول
psycopg2-binary           # للاتصال مع PostgreSQL

pydantic                  # للتحقق من البيانات
pydantic-settings         # لإدارة إعدادات .env

python-jose[cryptography] # لإنشاء JWT
passlib[bcrypt]           # تشفير كلمات المرور
bcrypt>=4.0.0,<5.0.0

python-multipart          # رفع الصور والملفات
email-validator           # التحقق من البريد الإلكتروني
Faker                     # بيانات وهمية للتطوير والاختبار

supabase                  # Supabase Storage

# AI inference
tensorflow>=2.16,<2.20
keras==3.13.2
numpy>=1.26,<2.2
Pillow>=9.0